.DS_Store
*.vmdk
*.ova
*.ovf
*.box
*.vdi
/build
/build/**
/.idea
/packer_cache
/packer_cache/**
/.vagrant/**
!/.vagrant/local.rb
/vmware
/vmware/**
/virtualbox
/virtualbox/**
/packer-plugin-*
/box-local.json
